<app-header></app-header>
<div class="main-area">
  <div class="block">
    <h1>alGo & Co.</h1>
    <form>
      <h2>Sign up to see the collection of algorithms and data structures.</h2>
      <input type="text" placeholder="Email">
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
      <input type="text" placeholder="Username">
      <input type="password" placeholder="Password">
      <button><span>Sign up</span></button>
      <p>By signing up, you agree to our <a href="#">Terms</a> and <a href="#">Policy</a>.</p>
    </form>
  </div>
</div>
<app-footer></app-footer>
